
<nav>
  <div class="nav-wrapper  purple lighten-2">
    <ul class="right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'People', people_path %></li>
      <li><%= link_to 'Children', children_index_path %></li>
    </ul>
  </div>
</nav>
